.password {
  min-width: 360px;

  @media(max-width: 460px) {
    min-width: 100%;
  }

  &__form {

    &-row {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    & mat-form-field {
      width: 100%;
      display: block;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    & button:nth-child(2) {
      margin-left: 10px;
    }
  }
}
