@use '@angular/material' as mat;

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Round';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
     
$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 300, 'Comfortaa', -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, 'Comfortaa', -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, 'Comfortaa', 0.0000em),
  display-1: mat.define-typography-level(34px, 40px, 400, 'Comfortaa', 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, 'Comfortaa', 0.0000em),
  title: mat.define-typography-level(28px, 32px, 500, 'Comfortaa', 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, 'Comfortaa', 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, 'Comfortaa', 0.0067em),
  body-2: mat.define-typography-level(14px, 24px, 500, 'Comfortaa', 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, 'Comfortaa', 0.0179em),
  button: mat.define-typography-level(14px, 14px, 500, 'Comfortaa', 0.0893em),
  caption: mat.define-typography-level(12px, 20px, 400, 'Comfortaa', 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, 'Comfortaa', 1.5px)
);

$dark-text: #162029;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

$light-text: #d3d3d3;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

// Light bg
$light-background:    #162029;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-text,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Compute font config
@include mat.core($fontConfig);

// Theme Config
body {
  --primary-color: #00c7c7;
  --primary-lighter-color: #b3eeee;
  --primary-darker-color: #00b3b3;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}   
$mat-primary: (
  main: #00c7c7,
  lighter: #b3eeee,
  darker: #00b3b3,
  200: #00c7c7, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #3aa0ec;
  --accent-lighter-color: #c4e3f9;
  --accent-darker-color: #2584e4;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}   
$mat-accent: (
  main: #3aa0ec,
  lighter: #c4e3f9,
  darker: #2584e4,
  200: #3aa0ec, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);


body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}   
$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

$theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: false,
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background,
);

// Theme Init
@include mat.all-component-themes($theme);