:root {
  // background
  --dark-bg: #141b23;
  --lighten-bg: #161e27;
  --darken-bg: #0f141a;

  // font colors
  --font-dark: #191A1F;
  --font-light: #ededed;

  // primary
  --primary: #d24d57;
  --primary-light: #d16069;
  --primary-dark: #cf404c;
  --primary-opacity-05: #d24d587e;

  // accent
  --accent: #038aff;
  --accent-light: #2696f9;
  --accent-dark: #0076dd;

  // primary green
  --primary-green: #1dd1a1;
  --primary-green-light: #33e7b7;
  --primary-green-dark: #12ae84;

  // primary yellow
  --primary-yellow: #f6b93b;
  --primary-yellow-light: #f5bf55;
  --primary-yellow-dark: #dfa532;

  // other
  --success: var(--accent);
  --error: var(--primary);
  --warn: var(--primary-yellow);

  // border radius
  --border-radius-main: 10px;

  // shadows
  --box-shadow-main: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
