@mixin row-setter {
  display: grid;
  grid-auto-flow: row dense;
  gap: 20px 20px;
  justify-items: stretch;
  align-items: stretch;
}

.row {
  @include row-setter;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 20px;
}

.row-2 {
  @include row-setter;
  grid-template-columns: repeat( auto-fit, minmax(320px, auto) );
}

.profile {

  &__form {
    margin-top: 20px;
  }

  &__bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: end;

    & button:nth-child(1) {
      margin-right: 10px;
    }
  }

  &__col {
    display: flex;
    justify-content: space-between;
  }

  &__main {

    & mat-form-field {
      width: 260px;
    }

  }

}