@mixin navSetup {
  width: 80px;
  background-color: var(--darken-bg);
  position: fixed;
  z-index: 1000;
}

.sidenav {
  width: 100%;
  height: 100vh;
  display: flex;

  &__nav {
    @include navSetup();
    height: 100vh;

    @media(max-width: 548px) {
      display: none;
    }

    &-mobile {
      @include navSetup();
      height: 56px;
      display: none;

      @media(max-width: 548px) {
        display: flex;
      }

      & button {
        margin-left: 10px;
        margin-top: 10px;
      }

      &-item {
        display: flex;
        align-items: center;

        & span {
          margin-left: 10px;
        }
      }
    }
  }

  &__items {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }

  &__item {
    margin: 10px 0;
    width: 100%;
    cursor: pointer;

    &-content {
      padding: 16px 0;
      display: flex;
      justify-content: center;
    }

    &:hover &-content {
      background-color: var(--dark-bg);
    }
  }

  &__router {
    width: 100%;
    margin-top: 80px;
  }

}

.active {
  transition: 200ms ease-in-out;
  background-color: var(--dark-bg);
  border-bottom: 8px;
  border-color: var(--primary-dark);
  border-radius: 0 var(--border-radius-main) var(--border-radius-main) 0;
  border: 0;
  border-left: 4px;
  border-color: var(--primary-green);
  border-style: solid;
  box-shadow: var(--box-shadow-main);
}
