.sidenav {
  width: 100%;
  height: 100vh;
  display: flex;

  &__nav {
    width: 80px;
    background-color: var(--darken-bg);
    position: sticky;
    z-index: 1000;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-4px);
    margin-top: 6px;
    margin-bottom: 6px;
  }

  &__items {
    padding: 10px 0;
  }

  &__item {
    margin: 10px 0;
    width: 100%;
    cursor: pointer;

    &-content {
      padding: 16px 0;
      display: flex;
      justify-content: center;
    }

    &:hover &-content {
      background-color: var(--dark-bg);
    }
  }

  &__router {
    width: 100%;
    margin-top: 60px;
  }

}

.active {
  transition: 200ms ease-in-out;
  background-color: var(--dark-bg);
  border-bottom: 8px;
  border-color: var(--primary-dark);
  border-radius: 0 var(--border-radius-main) var(--border-radius-main) 0;
  border: 0;
  border-left: 4px;
  border-color: var(--primary-green);
  border-style: solid;
  box-shadow: var(--box-shadow-main);
}
