<div class="sidenav">
  <div class="sidenav__nav slide-in-left">

    <div class="sidenav__logo-container">
      <img src="../../../assets/images/logo.png" width="52px" height="52px" alt="">
    </div>

    <div class="sidenav__items">
      <div class="sidenav__item" id="search">
        <div class="sidenav__item-content">
          <img src="../../../assets/images/icons/search.svg" width="28px" height="28px" alt="">
        </div>
      </div>
      <div class="sidenav__item" id="home" [routerLink]="['creator/home']">
        <div class="sidenav__item-content">
          <img src="../../../assets/images/icons/home.svg" width="28px" height="28px" alt="">
        </div>
      </div>
      <div class="sidenav__item" id="histogram">
        <div class="sidenav__item-content">
          <img src="../../../assets/images/icons/chart.svg" width="28px" height="28px" alt="">
        </div>
      </div>
      <div class="sidenav__item" id="profile" [routerLink]="['creator/profile']">
        <div class="sidenav__item-content">
          <img src="../../../assets/images/icons/user.svg" width="28px" height="28px" alt="">
        </div>
      </div>
      <div class="sidenav__item" id="apps">
        <div class="sidenav__item-content">
          <img src="../../../assets/images/icons/shopping.svg" width="28px" height="28px" alt="">
        </div>
      </div>
      <div class="sidenav__item" id="dollar">
        <div class="sidenav__item-content">
          <img src="../../../assets/images/icons/cash.svg" width="28px" height="28px" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="sidenav__nav-mobile">
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>widgets</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item class="sidenav__nav-mobile-item">
        <img src="../../../assets/images/icons/search.svg" width="26px" height="26px" alt="">
        <span>Search</span>
      </button>
      <button mat-menu-item class="sidenav__nav-mobile-item">
        <img src="../../../assets/images/icons/home.svg" width="26px" height="26px" alt="">
        <span>Home</span>
      </button>
      <button mat-menu-item class="sidenav__nav-mobile-item">
        <img src="../../../assets/images/icons/chart.svg" width="26px" height="26px" alt="">
        <span>Charts</span>
      </button>
      <button mat-menu-item class="sidenav__nav-mobile-item">
        <img src="../../../assets/images/icons/user.svg" width="26px" height="26px" alt="">
        <span>Profile</span>
      </button>
      <button mat-menu-item class="sidenav__nav-mobile-item">
        <img src="../../../assets/images/icons/shopping.svg" width="26px" height="26px" alt="">
        <span>Card</span>
      </button>
      <button mat-menu-item class="sidenav__nav-mobile-item">
        <img src="../../../assets/images/icons/cash.svg" width="26px" height="26px" alt="">
        <span>Payments</span>
      </button>
    </mat-menu>
  </div>

  <div class="sidenav__router">
    <div class="container">
      <ng-content></ng-content>
    </div>
  </div>
</div>