.topbar {
  background-color: var(--darken-bg);
  position: fixed;
  top: 0;
  color: #fff;
  width: 100%;
  right: 0;
  z-index: 100;

  &__left {
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-4px);
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 10px;
  }
}
