<div class="mat-typography">
  <div class="authenticated" *ngIf="isAuthorizated">
    <app-topbar></app-topbar>
    <app-sidenav>
      <router-outlet *ngIf="isAuthorizated"></router-outlet>
    </app-sidenav>
    <app-footer></app-footer>
  </div>

  <div *ngIf="!isAuthorizated">
    <app-topbar-non-auth></app-topbar-non-auth>
    <div class="router-outlet">
      <router-outlet *ngIf="!isAuthorizated"></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>


  <app-toast-message></app-toast-message>
  <!-- <app-footer></app-footer> -->
</div>