.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stpper-action-btns {
  @media(max-width: 520px) {
    display: flex;
    justify-content: space-between;

    & button {
      width: 40%;
    }
  }
}

.register {
  width: 720px;

  @media(max-width: 780px) {
    width: 100%;
  }

  &__validator {
    padding-top: 10px;

    & div {
      font-size: 12px;
      color: var(--primary-yellow);
    }
  }


  &__form {
    min-height: 260px;

    &-row {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media(max-width: 520px) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
      }
    }

    & mat-form-field {
      width: 280px;
      display: block;

      @media(max-width: 780px) {
        width: 46%;
      }

      @media(max-width: 520px) {
        width: 100%;
      }
    }

    &-country {
      display: flex;
      align-items: center;

      &-key {
        margin-left: 10px;
      }

      &-icon {
        transform: translateY(2px);
      }
    }
  }

  &__last-step-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__required-notification {
    color: #939393;
  }

  & mat-card-footer {
    padding: 0 15px 15px 15px;
    display: flex;
    justify-content: space-between;
  }

  &__complete {
    &-box {
      display: flex;
      margin-bottom: 30px;
      margin-top: 20px;
      justify-content: space-between;

      @media(max-width: 780px) {
        flex-wrap: wrap;
      }
    }

    &-item {
      width: 20%;
      position: relative;
      border: 1px solid var(--primary-yellow);
      border-radius: var(--border-radius-main);
      display: flex;
      align-items: center;
      justify-content: center;

      @media(max-width: 780px) {
        width: 46%;

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 20px;
        }
      }

      @media(max-width: 420px) {
        width: 100%;

        &:nth-child(3) {
          margin-bottom: 20px;
        }
      }
    }

    &-nr {
      position: absolute;
      top: -10px;
      left: 5px;
      font-size: 28px;
      background-color: var(--darken-bg);
      padding: 0 10px;
    }

    &-content {
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-icon {
      color: var(--primary-green);

      &-wrong {
        color: var(--primary);
      }
    }

    &-name {
      margin-bottom: 4px;
    }
  }
}

.divider-primary-green {
  margin: 10px 0;
}
