.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-bg);
  height: 32px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }
}

p {
  color: var(--font-grey);
}