<mat-card class="preview">
  <div class="preview__header">
    <div class="preview__name">
      <img src="../../../assets/images/default_profile.png" width="42px" height="42px" alt="">
      <span>Radosław Szczepański</span>
    </div>
    <div class="preview__type">
      <span>Creator</span>
      <div class="preview__rounded"></div>
    </div>
  </div>
  <div class="divider-primary"></div>
  <mat-card-content class="preview__body">
    <div class="preview__col">
      <div class="preview__key">
        <mat-icon>account_circle</mat-icon>
        <span class="preview__value">rszczepanski</span>
      </div>
      <div class="preview__key">
        <mat-icon>email</mat-icon>
        <span class="preview__value">rszczepanski@domain.com</span>
      </div>
      <div class="preview__key">
        <mat-icon>phone_iphone</mat-icon>
        <span class="preview__value">+48 733 593 336</span>
      </div>
      <div class="preview__key">
        <mat-icon>flag</mat-icon>
        <span class="preview__value">Poland</span>
      </div>

      <div class="preview__key">
        <mat-icon>verified</mat-icon>
        <span class="preview__value">Yes</span>
      </div>
    </div>

    <div class="preview__col">
      <div class="preview__key">
        <mat-icon>date_range</mat-icon>
        <span class="preview__value">17.01.2002</span>
      </div>
      <div class="preview__key">
        <mat-icon>man</mat-icon>
        <span class="preview__value">Male</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>