@import './assets/scss/variables.scss';
@import './assets/scss/material-custom.scss';
@import './assets/scss/scrollbar.scss';
@import './assets/scss/autocomplete.scss';
@import './assets/scss/animations.scss';

@mixin dividerSetup {
  width: 120px;
  height: 3px;
}

:root {
  overflow-x: hidden !important;
}

html {
  height: -webkit-fill-available;
}

body {
  background-color: var(--dark-bg);
  color: var(--font-light);
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 15px;
}

.divider {
  &-primary {
    @include dividerSetup;
    background-color: var(--primary);
    border-radius: 10px;
  }

  &-accent {
    @include dividerSetup;
    background-color: var(--accent);
    border-radius: 10px;
  }

  &-primary-green {
    @include dividerSetup;
    background-color: var(--primary-green);
    border-radius: 10px;
  }

  &-primary-yellow {
    @include dividerSetup;
    background-color: var(--primary-yellow);
    border-radius: 10px;
  }
}

.bg-dark {
  background-color: var(--dark-bg);
  color: var(--font-light);
}

.bg-darken {
  background-color: var(--darken-bg);
  color: var(--font-light);
}

h1,
h2 {
  margin-bottom: 5px !important;
}
