@import './assets/scss/variables.scss';
@import './assets/scss/material-custom.scss';
@import './assets/scss/scrollbar.scss';
@import './assets/scss/autocomplete.scss';
@import './assets/scss/animations.scss';

@mixin dividerSetup {
  width: 120px;
  height: 3px;
}

body {
  background-color: var(--dark-bg);
  color: var(--font-light);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 20px;
}

.divider-accent {
  @include dividerSetup;
  background-color: var(--accent);
}

.divider-primary {
  @include dividerSetup;
  background-color: var(--primary);
}

.bg-dark {
  background-color: var(--dark-bg);
  color: var(--font-light);
}

.bg-light {
  background-color: var(--light-bg);
  color: var(--font-dark);
}
