<mat-toolbar class="topbar">
  <div class="topbar__left">
    <div class="topbar__logo">
      <img src="../../../assets/images/logo.png" width="48px" height="48px" alt="">
      <span>Evelto</span>
    </div>

    <!-- <div class="topbar__actions">
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
      </button>
    </div> -->

  </div>
  <span class="topbar__spacer"></span>
  <button mat-icon-button aria-label="Profile settings button">
    <img src="../../../assets/images/default_profile.png" width="42px" height="42px" alt="">
  </button>
</mat-toolbar>