<mat-toolbar class="topbar">
  <div class="topbar__left">
    <div class="topbar__logo">
      <span>Evelto</span>
    </div>

    <!-- <div class="topbar__actions">
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
      </button>
    </div> -->

  </div>
  <span class="topbar__spacer"></span>
  <app-topbar-dropdown></app-topbar-dropdown>
</mat-toolbar>

<div class="spacer"></div>